In [43]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [44]:
from pathlib import Path
import pandas as pd

# Define the file path
month = 1
year = 2023
path = Path("..") / "data" / "raw" / f"rides_{year}_{month:02}.csv"

# Read the CSV file
df = pd.read_csv(path)
df.sort_values(by="started_at", inplace=True)
# Display the first few rows
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
26569,FBCBC6B772749BAB,classic_bike,2023-01-01 00:06:36,2023-01-01 00:15:23,Grand St,JC102,Hilltop,JC019,40.715054,-74.037657,40.731169,-74.057574,casual
3432,844D0A6A19E6E2C9,classic_bike,2023-01-01 00:07:48,2023-01-01 00:15:22,Washington St,JC098,Newport Pkwy,JC008,40.724294,-74.035483,40.728745,-74.032108,member
4501,31096F6EDF7754F4,classic_bike,2023-01-01 00:10:11,2023-01-01 00:15:54,Paulus Hook,JC002,City Hall,JC003,40.714159,-74.033546,40.717732,-74.043845,member
43831,B2E882B65775E5D7,classic_bike,2023-01-01 00:10:12,2023-01-01 00:12:38,Journal Square,JC103,Dey St,JC065,40.733766,-74.062541,40.737711,-74.066921,member
43462,2A7E22C64EB95BA9,classic_bike,2023-01-01 00:15:26,2023-01-01 00:22:16,Madison St & 1 St,HB402,Hoboken Terminal - River St & Hudson Pl,HB102,40.738790,-74.039300,40.736068,-74.029127,casual

In [45]:
rides_cp = df.copy()
rides_cp.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
26569,FBCBC6B772749BAB,classic_bike,2023-01-01 00:06:36,2023-01-01 00:15:23,Grand St,JC102,Hilltop,JC019,40.715054,-74.037657,40.731169,-74.057574,casual
3432,844D0A6A19E6E2C9,classic_bike,2023-01-01 00:07:48,2023-01-01 00:15:22,Washington St,JC098,Newport Pkwy,JC008,40.724294,-74.035483,40.728745,-74.032108,member
4501,31096F6EDF7754F4,classic_bike,2023-01-01 00:10:11,2023-01-01 00:15:54,Paulus Hook,JC002,City Hall,JC003,40.714159,-74.033546,40.717732,-74.043845,member
43831,B2E882B65775E5D7,classic_bike,2023-01-01 00:10:12,2023-01-01 00:12:38,Journal Square,JC103,Dey St,JC065,40.733766,-74.062541,40.737711,-74.066921,member
43462,2A7E22C64EB95BA9,classic_bike,2023-01-01 00:15:26,2023-01-01 00:22:16,Madison St & 1 St,HB402,Hoboken Terminal - River St & Hudson Pl,HB102,40.738790,-74.039300,40.736068,-74.029127,casual

In [46]:
rides_cp.fillna('',inplace=True)
invalid_ids = rides_cp[rides_cp['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

# Display the filtered result
invalid_ids.head()

/var/folders/db/tmvg2hx12n11xnj_zrs7c3_h0000gn/T/ipykernel_77870/1780319553.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  rides_cp.fillna('',inplace=True)
/var/folders/db/tmvg2hx12n11xnj_zrs7c3_h0000gn/T/ipykernel_77870/1780319553.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  invalid_ids = rides_cp[rides_cp['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
55608,53D8A4EEAD64311B,classic_bike,2023-01-05 10:56:43,2023-01-05 11:08:40,Mercer St & Spring St,5532.01,W 36 St & 7 Ave,6483.06,40.715285,-74.037828,40.752149,-73.989539,member

In [47]:
filtered_rides = rides_cp[rides_cp['start_station_name'] == 'Mercer St & Spring St']
filtered_rides

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
55608,53D8A4EEAD64311B,classic_bike,2023-01-05 10:56:43,2023-01-05 11:08:40,Mercer St & Spring St,5532.01,W 36 St & 7 Ave,6483.06,40.715285,-74.037828,40.752149,-73.989539,member

In [48]:
distinct_start_station_names = rides_cp.groupby('start_station_id')['start_station_name'].nunique()
distinct_start_station_names = distinct_start_station_names[distinct_start_station_names > 1]
distinct_start_station_names

Series([], Name: start_station_name, dtype: int64)

In [49]:
rides_cp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56075 entries, 26569 to 19663
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             56075 non-null  object
 1   rideable_type       56075 non-null  object
 2   started_at          56075 non-null  object
 3   ended_at            56075 non-null  object
 4   start_station_name  56075 non-null  object
 5   start_station_id    56075 non-null  object
 6   end_station_name    56075 non-null  object
 7   end_station_id      56075 non-null  object
 8   start_lat           56075 non-null  float64
 9   start_lng           56075 non-null  float64
 10  end_lat             56075 non-null  object
 11  end_lng             56075 non-null  object
 12  member_casual       56075 non-null  object
dtypes: float64(2), object(11)
memory usage: 6.0+ MB

In [50]:
# Assuming the DataFrame is already loaded as rides_cp

# Convert datetime columns
rides_cp['started_at'] = pd.to_datetime(rides_cp['started_at'])
rides_cp['ended_at'] = pd.to_datetime(rides_cp['ended_at'])

# Create duration column in minutes
rides_cp['duration'] = (rides_cp['ended_at'] - rides_cp['started_at'])

# Describe the duration column
duration_description = rides_cp['duration'].describe()
duration_description

count                        56075
mean     0 days 00:11:47.619580918
std      0 days 01:08:03.871820543
min                0 days 00:00:00
25%                0 days 00:03:51
50%                0 days 00:05:52
75%                0 days 00:09:02
max                3 days 03:38:17
Name: duration, dtype: object

In [51]:
rides_cp["duration"].quantile(0)
rides_cp["duration"].quantile(0.01)
rides_cp["duration"].quantile(0.995)
rides_cp["duration"].quantile(0.999)

Timedelta('0 days 00:00:00')

Timedelta('0 days 00:00:19')

Timedelta('0 days 01:47:45.519999999')

Timedelta('1 days 00:59:39.926000')

In [52]:
rides_cp['ride_id'].count()

56075

In [53]:
duration_filter = (rides_cp["duration"] > pd.Timedelta(0)) & (rides_cp["duration"] <= pd.Timedelta(hours=24))
sum(~duration_filter)

61

In [54]:
sorted_df = rides_cp.sort_values(by="started_at", ascending=True)  

# Get the top 10 (smallest) and bottom 10 (largest) values  
top_10 = sorted_df.head(10)  
bottom_10 = sorted_df.tail(10)  

top_10

bottom_10

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration
26569,FBCBC6B772749BAB,classic_bike,2023-01-01 00:06:36,2023-01-01 00:15:23,Grand St,JC102,Hilltop,JC019,40.715054,-74.037657,40.731169,-74.057574,casual,0 days 00:08:47
3432,844D0A6A19E6E2C9,classic_bike,2023-01-01 00:07:48,2023-01-01 00:15:22,Washington St,JC098,Newport Pkwy,JC008,40.724294,-74.035483,40.728745,-74.032108,member,0 days 00:07:34
4501,31096F6EDF7754F4,classic_bike,2023-01-01 00:10:11,2023-01-01 00:15:54,Paulus Hook,JC002,City Hall,JC003,40.714159,-74.033546,40.717732,-74.043845,member,0 days 00:05:43
43831,B2E882B65775E5D7,classic_bike,2023-01-01 00:10:12,2023-01-01 00:12:38,Journal Square,JC103,Dey St,JC065,40.733766,-74.062541,40.737711,-74.066921,member,0 days 00:02:26
43462,2A7E22C64EB95BA9,classic_bike,2023-01-01 00:15:26,2023-01-01 00:22:16,Madison St & 1 St,HB402,Hoboken Terminal - River St & Hudson Pl,HB102,40.738790,-74.039300,40.736068,-74.029127,casual,0 days 00:06:50
38906,640BD838456FE8C5,classic_bike,2023-01-01 00:15:36,2023-01-01 00:15:56,Harborside,JC104,Harborside,JC104,40.719475,-74.034166,40.719252,-74.034234,member,0 days 00:00:20
38905,AE77B983987F35E3,classic_bike,2023-01-01 00:16:21,2023-01-01 00:16:33,Harborside,JC104,Harborside,JC104,40.719317,-74.034068,40.719252,-74.034234,member,0 days 00:00:12
38907,C6202E562525C0E7,classic_bike,2023-01-01 00:16:59,2023-01-01 00:17:08,Harborside,JC104,Harborside,JC104,40.719352,-74.034162,40.719252,-74.034234,member,0 days 00:00:09
19633,26BFE93CF397516C,classic_bike,2023-01-01 00:17:35,2023-01-01 00:24:52,Harborside,JC104,Baldwin at Montgomery,JC020,40.719316,-74.034208,40.723659,-74.064194,member,0 days 00:07:17
35920,C2E9D7B9BF096244,classic_bike,2023-01-01 00:22:57,2023-01-01 00:35:18,Newport Pkwy,JC008,Jersey & 3rd,JC074,40.728745,-74.032108,40.723332,-74.045953,member,0 days 00:12:21

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration
11979,D19BA7680F4AB68F,classic_bike,2023-01-31 23:29:56,2023-01-31 23:35:26,Grove St PATH,JC115,Grand St,JC102,40.719378,-74.043128,40.715178,-74.037683,member,0 days 00:05:30
10550,C3FBC0206450FDDD,classic_bike,2023-01-31 23:32:04,2023-01-31 23:45:47,Church Sq Park - 5 St & Park Ave,HB601,11 St & Washington St,HB502,40.742659,-74.032233,40.749985,-74.02715,casual,0 days 00:13:43
47894,59126B6137520A96,classic_bike,2023-01-31 23:37:14,2023-01-31 23:42:14,Bergen Ave & Sip Ave,JC109,Astor Place,JC077,40.731159,-74.064487,40.719282,-74.071262,member,0 days 00:05:00
15696,8F3567FDAADD8922,classic_bike,2023-01-31 23:52:17,2023-01-31 23:59:00,Liberty Light Rail,JC052,City Hall,JC003,40.711242,-74.055701,40.717732,-74.043845,member,0 days 00:06:43
15391,4829B01F104848B9,classic_bike,2023-01-31 23:54:24,2023-01-31 23:57:42,Grove St PATH,JC115,Montgomery St,JC099,40.719410,-74.043090,40.71942,-74.05099,member,0 days 00:03:18
12917,9B4D062FE62510D1,classic_bike,2023-01-31 23:54:41,2023-01-31 23:58:48,Grove St PATH,JC115,Dixon Mills,JC076,40.719410,-74.043090,40.72163,-74.049968,member,0 days 00:04:07
9994,1826B5801D58A602,classic_bike,2023-01-31 23:55:39,2023-02-01 00:20:57,Grove St PATH,JC115,Communipaw & Berry Lane,JC084,40.719410,-74.043090,40.714358,-74.066611,casual,0 days 00:25:18
37488,FBDD61DDEEAA4275,classic_bike,2023-01-31 23:56:37,2023-02-01 00:00:42,Clinton St & Newark St,HB409,6 St & Grand St,HB302,40.737430,-74.035710,40.744398,-74.034501,member,0 days 00:04:05
6462,06508ACFCBF384B1,electric_bike,2023-01-31 23:57:41,2023-02-01 00:02:48,City Hall,JC003,Liberty Light Rail,JC052,40.717732,-74.043845,40.711242,-74.055701,casual,0 days 00:05:07
19663,19718DA10D44445D,electric_bike,2023-01-31 23:58:11,2023-02-01 00:04:48,City Hall,JC003,Baldwin at Montgomery,JC020,40.717732,-74.043845,40.723659,-74.064194,member,0 days 00:06:37

In [55]:
rides_cp['start_station_id'].value_counts()

start_station_id
JC115      2953
HB102      2850
HB103      1783
HB101      1734
HB105      1506
           ...
JC097       107
JC063        81
JC107        61
JC108        52
5532.01       1
Name: count, Length: 82, dtype: int64

In [56]:
filter_date_range = (rides_cp["started_at"] >= "2023-01-01") & (rides_cp["started_at"] < "2023-02-01")
sum(~filter_date_range)

0

In [57]:
final_filter = duration_filter & filter_date_range
numbers_dropped = final_filter.shape[0] - sum(final_filter) # numbers dropped
numbers_dropped
numbers_dropped/final_filter.shape[0] * 100

61

0.10878288007133304

In [58]:
rides = rides_cp[final_filter]
rides = rides[["started_at", "start_station_id"]]
rides.rename(columns={
    "started_at": "pickup_datetime",
    "start_station_id": "pickup_location_id"
}, inplace=True)
rides.head()
year = 2023
month = 1
path = Path("..") / "data" / "processed" / f"rides_{year}_{month:02}.parquet"

          pickup_datetime pickup_location_id
26569 2023-01-01 00:06:36              JC102
3432  2023-01-01 00:07:48              JC098
4501  2023-01-01 00:10:11              JC002
43831 2023-01-01 00:10:12              JC103
43462 2023-01-01 00:15:26              HB402

In [59]:
rides.to_parquet(path, engine="pyarrow", index=False)

rid

In [60]:
rides[rides["pickup_location_id"] == 'JC103']

          pickup_datetime pickup_location_id
43831 2023-01-01 00:10:12              JC103
38218 2023-01-01 01:02:51              JC103
588   2023-01-01 01:37:53              JC103
19592 2023-01-01 10:44:14              JC103
9347  2023-01-01 12:10:02              JC103
...                   ...                ...
9389  2023-01-31 18:14:16              JC103
560   2023-01-31 18:27:41              JC103
39718 2023-01-31 20:32:01              JC103
19659 2023-01-31 20:37:52              JC103
39726 2023-01-31 21:11:57              JC103

[620 rows x 2 columns]

In [61]:
import pandas as pd
from pathlib import Path

# Folder path
raw_folder_path = Path("..") / "data" / "raw"

# List to collect all monthly DataFrames
all_rides = []

# Iterate through all relevant CSV files
for csv_file in sorted(raw_folder_path.glob("rides_2023_*.csv")):
    try:
        print(f"📁 Processing file: {csv_file.name}")
        df = pd.read_csv(csv_file)

        # Parse datetime early for verification
        df["started_at"] = pd.to_datetime(df["started_at"], errors='coerce')

        print(f"✅ Loaded shape: {df.shape}")
        print(f"🗓️  Date range: {df['started_at'].min()} to {df['started_at'].max()}")
        
        all_rides.append(df)
    except Exception as e:
        print(f"❌ Failed to process {csv_file.name}: {e}")

# Combine all months into a single DataFrame
df = pd.concat(all_rides, ignore_index=True)
print(f"\n✅ Final combined shape: {df.shape}")

📁 Processing file: rides_2023_01.csv
✅ Loaded shape: (56075, 13)
🗓️  Date range: 2023-01-01 00:06:36 to 2023-01-31 23:58:11

✅ Final combined shape: (56075, 13)

In [62]:
import pandas as pd
from pathlib import Path

# Folder path
raw_folder_path = Path("..") / "data" / "raw"

# List to collect all monthly DataFrames
all_rides = []

# Iterate through all relevant CSV files
for csv_file in sorted(raw_folder_path.glob("rides_2024_*.csv")):
    try:
        print(f"📁 Processing file: {csv_file.name}")
        df = pd.read_csv(csv_file)

        # Parse datetime early for verification
        df["started_at"] = pd.to_datetime(df["started_at"], errors='coerce')

        print(f"✅ Loaded shape: {df.shape}")
        print(f"🗓️  Date range: {df['started_at'].min()} to {df['started_at'].max()}")
        
        all_rides.append(df)
    except Exception as e:
        print(f"❌ Failed to process {csv_file.name}: {e}")

# Combine all months into a single DataFrame
df1 = pd.concat(all_rides, ignore_index=True)
print(f"\n✅ Final combined shape: {df1.shape}")

📁 Processing file: rides_2024_04.csv
✅ Loaded shape: (79116, 13)
🗓️  Date range: 2024-04-01 00:01:25 to 2024-04-30 23:53:14

✅ Final combined shape: (79116, 13)

In [63]:
df1.shape

(79116, 13)

In [64]:
df1['started_at'] = pd.to_datetime(df1['started_at'], errors='coerce')  # Ensure started_at is in datetime format
monthly_counts = df1.groupby(df1['started_at'].dt.month)['started_at'].count()
print(monthly_counts)

started_at
4    79116
Name: started_at, dtype: int64

In [65]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2D398FDF45B98978,electric_bike,2024-04-16 21:43:36,2024-04-16 22:03:44,Marin Light Rail,JC013,Hoboken Terminal - River St & Hudson Pl,HB102,40.714584,-74.042817,40.736068,-74.029127,casual
1,7D463681098397A7,classic_bike,2024-04-20 20:06:34,2024-04-20 20:20:33,Heights Elevator,JC059,Bergen Ave & Sip Ave,JC109,40.748716,-74.040443,40.731009,-74.064437,member
2,5EED2D897C650AEE,classic_bike,2024-04-09 07:56:59,2024-04-09 07:59:43,6 St & Grand St,HB302,Clinton St & Newark St,HB409,40.744398,-74.034501,40.737430,-74.035710,member
3,E1D43CEADADF8D3C,electric_bike,2024-04-17 08:44:36,2024-04-17 08:51:06,6 St & Grand St,HB302,Newport PATH,JC066,40.744318,-74.034337,40.727224,-74.033759,member
4,B49012F99F97FEE4,classic_bike,2024-04-13 08:50:30,2024-04-13 08:55:10,Lafayette Park,JC078,Liberty Light Rail,JC052,40.713464,-74.062859,40.711242,-74.055701,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79111,CE90C772574D5E70,electric_bike,2024-04-21 15:56:52,2024-04-21 16:07:13,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718618,-74.038553,40.723659,-74.064194,casual
79112,70D59D4F56BAA44C,electric_bike,2024-04-21 16:11:20,2024-04-21 16:19:33,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718847,-74.038642,40.723659,-74.064194,casual
79113,919C8DE40AC18B29,electric_bike,2024-04-26 17:48:39,2024-04-26 17:55:20,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.719039,-74.038610,40.723659,-74.064194,member
79114,46D5752D4AFF2E1B,classic_bike,2024-04-16 13:20:32,2024-04-16 13:35:39,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718355,-74.038914,40.723659,-74.064194,member
79115,F79D0248A8361A64,electric_bike,2024-04-07 14:11:42,2024-04-07 14:22:13,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718823,-74.038696,40.723659,-74.064194,casual

In [66]:
df1['started_at'] = pd.to_datetime(df1['started_at'])  # Ensure started_at is in datetime format
november_records = df1[df1['started_at'].dt.month == 4]
november_records

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2D398FDF45B98978,electric_bike,2024-04-16 21:43:36,2024-04-16 22:03:44,Marin Light Rail,JC013,Hoboken Terminal - River St & Hudson Pl,HB102,40.714584,-74.042817,40.736068,-74.029127,casual
1,7D463681098397A7,classic_bike,2024-04-20 20:06:34,2024-04-20 20:20:33,Heights Elevator,JC059,Bergen Ave & Sip Ave,JC109,40.748716,-74.040443,40.731009,-74.064437,member
2,5EED2D897C650AEE,classic_bike,2024-04-09 07:56:59,2024-04-09 07:59:43,6 St & Grand St,HB302,Clinton St & Newark St,HB409,40.744398,-74.034501,40.737430,-74.035710,member
3,E1D43CEADADF8D3C,electric_bike,2024-04-17 08:44:36,2024-04-17 08:51:06,6 St & Grand St,HB302,Newport PATH,JC066,40.744318,-74.034337,40.727224,-74.033759,member
4,B49012F99F97FEE4,classic_bike,2024-04-13 08:50:30,2024-04-13 08:55:10,Lafayette Park,JC078,Liberty Light Rail,JC052,40.713464,-74.062859,40.711242,-74.055701,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79111,CE90C772574D5E70,electric_bike,2024-04-21 15:56:52,2024-04-21 16:07:13,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718618,-74.038553,40.723659,-74.064194,casual
79112,70D59D4F56BAA44C,electric_bike,2024-04-21 16:11:20,2024-04-21 16:19:33,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718847,-74.038642,40.723659,-74.064194,casual
79113,919C8DE40AC18B29,electric_bike,2024-04-26 17:48:39,2024-04-26 17:55:20,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.719039,-74.038610,40.723659,-74.064194,member
79114,46D5752D4AFF2E1B,classic_bike,2024-04-16 13:20:32,2024-04-16 13:35:39,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718355,-74.038914,40.723659,-74.064194,member
79115,F79D0248A8361A64,electric_bike,2024-04-07 14:11:42,2024-04-07 14:22:13,Columbus Drive,JC014,Baldwin at Montgomery,JC020,40.718823,-74.038696,40.723659,-74.064194,casual

In [67]:
filtered_records = df1[df1['start_station_id'] == 'HB303']
filtered_records

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
35559,1D437F7ECE3A362C,classic_bike,2024-04-09 07:51:25,2024-04-09 07:55:51,Clinton St & 7 St,HB303,4 St & River St,HB611,40.745420,-74.033320,40.740814,-74.027406,member
35560,10E2EB9336A2435E,electric_bike,2024-04-08 23:15:37,2024-04-08 23:19:12,Clinton St & 7 St,HB303,4 St & River St,HB611,40.745333,-74.033442,40.740814,-74.027406,member
35561,2643A712CB64BBD2,electric_bike,2024-04-02 12:02:00,2024-04-02 12:07:07,Clinton St & 7 St,HB303,4 St & River St,HB611,40.745373,-74.033404,40.740814,-74.027406,member
35603,E3D6CCB7FA08583F,classic_bike,2024-04-25 12:02:24,2024-04-25 12:06:20,Clinton St & 7 St,HB303,Mama Johnson Field - 4 St & Jackson St,HB404,40.745420,-74.033320,40.743140,-74.040041,member
35604,68976FDF87730AA5,electric_bike,2024-04-04 15:07:09,2024-04-04 15:10:30,Clinton St & 7 St,HB303,Madison St & 10 St,HB503,40.745429,-74.033047,40.749943,-74.035865,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77165,7D8B9AA2728A4C09,electric_bike,2024-04-18 08:34:21,2024-04-18 08:36:15,Clinton St & 7 St,HB303,7 St & Monroe St,HB304,40.745420,-74.033389,40.746413,-74.037977,member
77166,56311091C2C32F4B,classic_bike,2024-04-30 08:30:49,2024-04-30 08:33:49,Clinton St & 7 St,HB303,7 St & Monroe St,HB304,40.745420,-74.033320,40.746413,-74.037977,member
77267,FF9B149051734807,electric_bike,2024-04-12 07:39:54,2024-04-12 07:41:39,Clinton St & 7 St,HB303,7 St & Monroe St,HB304,40.745344,-74.033438,40.746413,-74.037977,member
77268,80338013D0E9C36D,classic_bike,2024-04-18 18:44:36,2024-04-18 18:47:17,Clinton St & 7 St,HB303,7 St & Monroe St,HB304,40.745420,-74.033320,40.746413,-74.037977,member
78041,2A3C4989B7126AA7,classic_bike,2024-04-10 00:00:43,2024-04-10 00:15:57,Clinton St & 7 St,HB303,Oakland Ave,JC022,40.745420,-74.033320,40.737604,-74.052478,member

In [68]:
df1.fillna('',inplace=True)
invalid_ids = df1[df1['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

# Display the filtered result
invalid_ids.head()

/var/folders/db/tmvg2hx12n11xnj_zrs7c3_h0000gn/T/ipykernel_77870/238208567.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.fillna('',inplace=True)
/var/folders/db/tmvg2hx12n11xnj_zrs7c3_h0000gn/T/ipykernel_77870/238208567.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  invalid_ids = df1[df1['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
419,BACF92EF168BB26D,electric_bike,2024-04-09 09:09:39,2024-04-09 09:21:11,W 76 St & Columbus Ave,7281.09,W 47 St & 10 Ave,6824.07,40.772877,-74.006253,40.762699,-73.993012,member
1831,C088A717B53895C0,electric_bike,2024-04-17 08:14:27,2024-04-17 08:27:20,11 Ave & W 27 St,6425.04,Mercer St & Bleecker St,5679.05,40.757857,-74.017641,40.727064,-73.996621,member
3665,D840B96B8C424B3C,electric_bike,2024-04-30 07:53:14,2024-04-30 08:00:32,E 33 St & 5 Ave,6322.01,W 41 St & 8 Ave,6602.03,40.756231,-74.052385,40.756405,-73.990026,member
7178,9478B181CDF00518,electric_bike,2024-04-20 18:15:55,2024-04-20 18:30:54,Broadway & E 19 St,6098.12,LaGuardia Pl & W 3 St,5721.14,40.714879,-74.035060,40.72917,-73.998102,member
7431,77D5CA25295997C6,electric_bike,2024-04-16 14:27:56,2024-04-16 14:39:40,Devoe St & Morgan Ave,5282.02,Hope St & Union Ave,5187.03,40.689048,-74.085600,40.711674,-73.951413,member

In [69]:
df.fillna('',inplace=True)
invalid_ids = df[df['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

# Display the filtered result
invalid_ids.head()

/var/folders/db/tmvg2hx12n11xnj_zrs7c3_h0000gn/T/ipykernel_77870/1204604302.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('',inplace=True)
/var/folders/db/tmvg2hx12n11xnj_zrs7c3_h0000gn/T/ipykernel_77870/1204604302.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  invalid_ids = df[df['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
419,BACF92EF168BB26D,electric_bike,2024-04-09 09:09:39,2024-04-09 09:21:11,W 76 St & Columbus Ave,7281.09,W 47 St & 10 Ave,6824.07,40.772877,-74.006253,40.762699,-73.993012,member
1831,C088A717B53895C0,electric_bike,2024-04-17 08:14:27,2024-04-17 08:27:20,11 Ave & W 27 St,6425.04,Mercer St & Bleecker St,5679.05,40.757857,-74.017641,40.727064,-73.996621,member
3665,D840B96B8C424B3C,electric_bike,2024-04-30 07:53:14,2024-04-30 08:00:32,E 33 St & 5 Ave,6322.01,W 41 St & 8 Ave,6602.03,40.756231,-74.052385,40.756405,-73.990026,member
7178,9478B181CDF00518,electric_bike,2024-04-20 18:15:55,2024-04-20 18:30:54,Broadway & E 19 St,6098.12,LaGuardia Pl & W 3 St,5721.14,40.714879,-74.035060,40.72917,-73.998102,member
7431,77D5CA25295997C6,electric_bike,2024-04-16 14:27:56,2024-04-16 14:39:40,Devoe St & Morgan Ave,5282.02,Hope St & Union Ave,5187.03,40.689048,-74.085600,40.711674,-73.951413,member

In [70]:
invalid_ids_counts = invalid_ids['start_station_id'].value_counts()
invalid_ids_counts[invalid_ids_counts > 1]

Series([], Name: count, dtype: int64)

In [71]:
df[df['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)].tail()

/var/folders/db/tmvg2hx12n11xnj_zrs7c3_h0000gn/T/ipykernel_77870/1183508369.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df['start_station_id'].str.contains(r'^\d+(\.\d+)?$', regex=True)].tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
45570,1F3FD1E10CEC2DF3,electric_bike,2024-04-12 17:59:54,2024-04-12 18:13:49,Amsterdam Ave & W 73 St,7260.09,9 Ave & W 33 St,6492.08,40.782177,-74.033317,40.752568,-73.996765,member
46658,B608D5E3E6C80E37,electric_bike,2024-04-10 18:05:54,2024-04-10 18:11:34,W 36 St & 9 Ave,6569.07,W 49 St & 8 Ave,6747.06,40.719100,-74.033781,40.762272,-73.987882,member
51616,8DE27B5351C43D0E,electric_bike,2024-04-08 18:47:53,2024-04-08 19:03:05,River Ter & Warren St,5368.03,Greenwich St & W Houston St,5730.08,40.715617,-74.027511,40.728846,-74.008591,member
60919,69176A1EC3ADF3BD,electric_bike,2024-04-25 21:34:00,2024-04-25 21:39:29,W 47 St & 6 Ave,6667.04,W 50 St & 10 Ave,6890.06,40.781736,-74.029100,40.764734,-73.991944,member
70145,9FD2E633C9A2AE90,electric_bike,2024-04-17 09:23:25,2024-04-17 09:30:26,E 11 St & 1 Ave,5746.14,Lexington Ave & E 24 St,6089.07,40.744589,-74.043834,40.740259,-73.984092,member

In [72]:
df['started_at'] = pd.to_datetime(df['started_at'])  # Ensure started_at is in datetime format
november_records = df[df['started_at'].dt.month == 11]
november_records

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [73]:
df[df['start_station_name'].str.contains('Centre St & Chambers St')]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [74]:
invalid_ids_count = invalid_ids.groupby('start_station_id').size().sort_values(ascending=False)
invalid_ids_count

start_station_id
5187.03    1
5282.02    1
5368.03    1
5746.14    1
6098.12    1
6322.01    1
6425.04    1
6551.02    1
6569.07    1
6667.04    1
6726.01    1
6747.06    1
6955.01    1
7260.09    1
7281.09    1
dtype: int64

In [76]:
# Define the file path for the 11th month
november_path = raw_folder_path / "rides_2023_11.csv"

# Read the CSV file for November
november_df = pd.read_csv(november_path)

# Apply the location filter
location_filter = ~november_df["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)
location_filtered = november_df[location_filter]

# Display the filtered result
location_filtered.head()

/var/folders/db/tmvg2hx12n11xnj_zrs7c3_h0000gn/T/ipykernel_77870/1091487936.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~november_df["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1156A0D0E2EB60CB,classic_bike,2023-11-19 12:08:48,2023-11-19 12:28:53,Jackson Square,JC063,Baldwin at Montgomery,JC020,40.711130,-74.078900,40.723659,-74.064194,casual
1,9A6D99BAED3AE106,classic_bike,2023-11-05 18:21:56,2023-11-05 18:25:36,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750044,-74.035878,40.743140,-74.040041,casual
2,CC3F75A6310A2625,classic_bike,2023-11-12 11:36:41,2023-11-12 11:42:04,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750100,-74.035852,40.743140,-74.040041,casual
3,3BF4E21F0D5BCB98,classic_bike,2023-11-08 15:04:23,2023-11-08 15:20:23,Jackson Square,JC063,Hilltop,JC019,40.711130,-74.078900,40.731169,-74.057574,member
4,1B7E5ADCABC46F0E,classic_bike,2023-11-22 09:08:22,2023-11-22 09:14:23,Mama Johnson Field - 4 St & Jackson St,HB404,River St & 1 St,HB609,40.743148,-74.040053,40.737215,-74.028865,member

In [78]:
sum(~november_df["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True))

/var/folders/db/tmvg2hx12n11xnj_zrs7c3_h0000gn/T/ipykernel_77870/3798434593.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  sum(~november_df["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True))

75627